@mixin navbar-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin icons-style{
    border:1px solid $color-grey;
    border-radius: 5px;
    padding:10px 15px;
    color:$color-boldgrey;
    
}